# 연관분석

## Run-Test 

- 연속적인 관측값들이 임의적으로 나타난 것인지를 검정하는 방법 <br>
- run-test의 귀무가설 : 연속적인 관측값이 임의적이다. 
- run-test의 대립가설 : 연속적인 관측값이 임의적이 아니다 (즉, 연관이 있다) <br><br><br>
<b><  22회 기출 ></b>
- 상품 a와 b가 있을 때 다음과 같은 구매 패턴이 있다고 한다. <br>
 ['b','b','b','b','b','b','a','a','a','a','a','b','b','a','a','a','a','b','b','b']
 <br>두 상품의 구매패턴이 연관성이 있는지 검정해라

In [2]:
import pandas as pd

data = ['a', 'a', 'b', 'b', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'a', 'a', 'b', 'b', 'a', 'b', 'b']

In [6]:
test_df = pd.DataFrame(data, columns=['product'])
test_df

   product
0        a
1        a
2        b
3        b
4        a
5        a
6        a
7        a
8        b
9        b
10       b
11       b
12       b
13       a
14       a
15       b
16       b
17       a
18       b
19       b

In [7]:
test_df.loc[test_df['product']=='a', 'product'] = 1
test_df.loc[test_df['product']=='b', 'product'] = 0

In [8]:
test_df['product']

0     1
1     1
2     0
3     0
4     1
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    0
13    1
14    1
15    0
16    0
17    1
18    0
19    0
Name: product, dtype: object

In [11]:
from statsmodels.sandbox.stats.runs import runstest_1samp
help(runstest_1samp)

Help on function runstest_1samp in module statsmodels.sandbox.stats.runs:

runstest_1samp(x, cutoff='mean', correction=True)
    use runs test on binary discretized data above/below cutoff

    Parameters
    ----------
    x : array_like
        data, numeric
    cutoff : {'mean', 'median'} or number
        This specifies the cutoff to split the data into large and small
        values.
    correction : bool
        Following the SAS manual, for samplesize below 50, the test
        statistic is corrected by 0.5. This can be turned off with
        correction=False, and was included to match R, tseries, which
        does not use any correction.

    Returns
    -------
    z_stat : float
        test statistic, asymptotically normally distributed
    p-value : float
        p-value, reject the null hypothesis if it is below an type 1 error
        level, alpha .

In [13]:
#Perform Runs test
# - run-test의 귀무가설 : 연속적인 관측값이 임의적이다. 
# - run-test의 대립가설 : 연속적인 관측값이 임의적이 아니다
from statsmodels.sandbox.stats.runs import runstest_1samp
runstest_1samp(test_df['product'])

(-1.1144881152070183, 0.26506984027306035)

* 분석결과 : 유의수준 5% 하에서 p-value값이 0.05보다 크므로, 상품 a와 b의 구매에는 연관이 없다.