In [4]:
# !pip install -r python_package_list.txt

ERROR: Invalid requirement: 'Package\tVersion' (from line 1 of python_package_list.txt)

# 1. 데이터프레임 기본

## 1.1 Pandas DataFrame 사용 준비

In [1]:
import pandas as pd

## 1.2 DataFrame 읽기
- df = pd.read_csv(filepath)
- filepath : 파일경로('p1/p2/file.csv'형태)
- %pwd : 경로 확인

In [2]:
%pwd

'C:\\Users\\LG\\adp실기연습'

In [26]:
iris_data = pd.read_csv('./data/iris.csv')
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 1,3 DataFrame 저장
  df.to_Csv(filepath, header=True, index=True, encoding='utf-8)

In [27]:
 iris_data.to_csv('example.csv', header=True, index=False, encoding='utf-8')

In [28]:
pd.read_csv('example.csv', encoding='utf-8')

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 1.4. DataFrame 선언
df = pd.DataFrame(data)

### 1.4.1 Series(인덱스를 가지고 있는 1차원 배열)
    pandas의 기본 객체
    Series는 리스트와 비슷하지만, 인덱스 값을 가지고 있음.
    index는 기본적으로 0부터 자동적으로 생성됨.

In [6]:
list_1 = [1,1,1,1]
list_1

[1, 1, 1, 1]

In [7]:
# 데이터 프레임 선언
pd.DataFrame(list_1)

   0
0  1
1  1
2  1
3  1

In [8]:
# Series는 리스트와 비슷하지만, 인덱스 값을 가지고 있음
Series_1 = pd.Series([1,1,1,1])
Series_1

0    1
1    1
2    1
3    1
dtype: int64

In [9]:
## 인덱스와 같이 선언하기
Series_2 = pd.Series([1,1,1,1], index=['2023-03-31',2,'dd',3])
Series_2

2023-03-31    1
2             1
dd            1
3             1
dtype: int64

## 1.5 DataFrame 출력
    df.head(n)   # 처음 n개 출력, 미지정시 5개
    sdf.tail(n)   # 마지막 n개 출력, 미지정시 5개

In [10]:
iris_data.tail()

     sepal length  sepal width  petal length  petal width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

## 1.6 DataFrame 요약/통계정보 확인
- df.info() # 총 데이터 건수와 데이터 타입, Null 건수 확인
- df.describe() # 숫자형 컬럼들의 n-percentile분포도, 평균값, 최대값, 최소값 확인
- df['컬럼명'].min 또는 df['컬럼명'].max() # 해당 컬럼의 min, max값을 확인
      .size : 개수 반환
      .shape : 튜플형태로 shape 반환
      .unique() : 유일한 값만 ndarray로 변환
      .count() : NaN을 제외한 개수를 반환
      .mean() : NaN을 제외한 평균
      .value_counts() : NaN을 제외하고 각 값들의 빈도를 반환

In [11]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [29]:
iris_data.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
iris_data['sepal length'].min()

4.3

In [15]:
# 총 데이터의 개수 확인
iris_data['sepal length'].size

150

In [18]:
# 150개 행만 있음
# iris_data['sepal length'].shape : 150개 행으로 이뤄진 시리즈
# 시리즈를 df으로 바꾸기 []하나 더 사용하기
# 1개의 열을 가진 데이터프레임
iris_data[['sepal length']].shape

(150, 1)

In [20]:
# 열이 없는 1차원 벡터
iris_data['sepal length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

In [19]:
iris_data['target'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [21]:
iris_data['target'].count()

150

In [22]:
# value_count() : unique별로 개수 세주는 함수
iris_data['target'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: target, dtype: int64

### 1.7 DataFrame 인덱스 확인, 추가 리셋
    df.index    # 인덱스 확인
    df.set_index(keys, drop=True, append=False, inplace=True)  # 인덱스 추가
    df.reset_index(drop=False, inplace=False)  # 인덱스 리셋

In [23]:
iris_data.index

RangeIndex(start=0, stop=150, step=1)

In [30]:
# 데이터 확인
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [25]:
iris_data.set_index('target')