In [4]:
# !pip install -r python_package_list.txt

ERROR: Invalid requirement: 'Package\tVersion' (from line 1 of python_package_list.txt)

# 1. 데이터프레임 기본

## 1.1 Pandas DataFrame 사용 준비

In [5]:
import pandas as pd

## 1.2 DataFrame 읽기
- df = pd.read_csv(filepath)
- filepath : 파일경로('p1/p2/file.csv'형태)
- %pwd : 경로 확인

In [17]:
%pwd

'C:\\Users\\LG\\adp실기연습'

In [21]:
iris_data = pd.read_csv('./data/iris.csv')
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 1,3 DataFrame 저장
  df.to_Csv(filepath, header=True, index=True, encoding='utf-8)

In [25]:
 iris_data.to_csv('example.csv', header=True, index=False, encoding='utf-8')

In [26]:
pd.read_csv('example.csv', encoding='utf-8')

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 1.4. DataFrame 선언
df = pd.DataFrame(data)

### 1.4.1 Series
- pandas의 기본 객체
- Series는 리스트와 비슷하지만, 인덱스 값을 가지고 있음.
- index는 기본적으로 0부터 자동적으로 생성됨.

In [27]:
list_1 = [1,1,1,1]
list_1

[1, 1, 1, 1]

In [28]:
# 데이터 프레임 선언
pd.DataFrame(list_1)

   0
0  1
1  1
2  1
3  1